@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

:root {
	--gv-width: 80%;
	--gv-height: 80%;
}

* {
	box-sizing: none;
	list-style: none;

	padding: 0;
	margin: 0;
}

body {
	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #264653;

	font-family: Roboto, Helvetica, Arial;
	font-weight: 300;
	font-size: 1rem;
}

#dev-console {
	width: 300px;
	height: auto;

	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;

	background-color: rgba(255, 255, 255, 0.3);
	overflow: hidden;
}

#dev-console > * {
	padding: 1rem;
}

#dev-console > * > h4 {
	width: 200px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	color: white;
	font-weight: 300;
}

#dev-console_toggle {
	width: 100%;
	padding: 0.5rem;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(255, 255, 255, 0);
	color: white;
	border: none;
	cursor: pointer;
}

#dev-console_toggle:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.hidden {
	height: 2rem !important;
}

#game-view {
	position: relative;

	width: var(--gv-width);
	height: var(--gv-height);

	background-color: #2a9d8f;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#objectA {
	top: 150px;
	left: 300px;
}

#objectB {
	top: 450px;
	left: 600px;
}

.object {
	cursor: default;
	user-select: none;
	width: 100px;
	height: 100px;

	position: absolute;

	display: flex;
	justify-content: center;
	align-items: center;

	color: #e76f51;
	font-size: 5rem;
	font-weight: 500;

	background-color: #e9c46a;

	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
